.board-info { 
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.match-info-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.match-info-text {
  margin-right: 10px;;
}

.match-info-data {
  text-decoration: underline;
}

.turn-msg {
  text-align: center;
}