.board-info { 
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.match-info-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.match-info-text {
  margin-right: 10px;;
}

.match-info-data {
  text-decoration: underline;
}

.turn-msg {
  text-align: center;
}

.commit-ships-btn, .view-btn:hover {
  cursor: pointer;
}

.fleet-health-container {
  display: flex;
  justify-content: center;
}

.ready-player {
  text-align: center;
  margin: 0px;
}