.tile {
  width: 90px;
  height: 90px;
  border-style: outset;
  font-size:1rem;
  transition: .2s;
}

.tile:hover {
  cursor: pointer;
}

.fleet-view {
  color: navy;
  border-color: navy;
  background-color: #11a4de;
}

.fleet-view:hover {
  border-color: #ffffff;
  border-width: 2px;
  font-weight: 500;
}

.attack-view {
  color: #73f970;
  border-color: #33c82e;
  background-color: #074000;
}

.attack-view:hover {
  border-color: #09ff00;
  border-width: 2px;
  font-weight: 500;
}