.ship {
  border: 1px solid #000000;
  margin: 1px;
  border-radius: 3px;
  width: fit-content;
  height: 125px;
  padding: 3px;
  transition: .5s;
}

.ship:hover {
  cursor: pointer;
  background-color: gold;
  color: navy;
}
