body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.game {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 60px;
  text-align: center;
}

.reset-view-div {
  display: flex;
  justify-content: space-evenly;
}

.reset-btn, .view-btn, .commit-ships-btn {
  text-align: center;
  font-size: 15px;
  width: fit-content;
  height: auto;
}

.reset-btn {
  color: crimson;
}

.view-text {
  text-align: center;
}
